@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Neon Blue Theme */
  --color-background: #0a0f1f; /* Dark blue */
  --color-primary: #00f6ff;    /* Bright cyan */
  --color-secondary: #007bff;  /* Standard blue */
  --color-accent: #ffffff;     /* White for highlights */
  --color-text: #e0e0e0;       /* Light grey text */
  --font-primary: 'Exo 2', sans-serif;
  --font-secondary: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-secondary);
  overflow: hidden; /* Prevent default scrollbars on body */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body, html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
